<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.nut.relayer.server.dao.BokerDao">

    <resultMap id="roomMsg" type="com.zy.nut.relayer.common.beans.Boker"/>

    <insert id="save" parameterType="com.zy.nut.relayer.common.beans.Boker" useGeneratedKeys="false" keyColumn="uid" keyProperty="uid">
        INSERT INTO BOKER (uid,beans)
        VALUES (#{uid},#{beans})
    </insert>

    <select id="get" resultType="com.zy.nut.relayer.common.beans.Boker">
        SELECT mid,fuid,msg,ctime,lctime FROM BOKER WHERE mid = #{mid}
    </select>

    <select id="getAll" resultType="com.zy.nut.relayer.common.beans.RoomMsg">
        SELECT mid,fuid,msg,ctime,lctime FROM BOKER
    </select>

    <update id="update" parameterType="com.zy.nut.relayer.common.beans.RoomMsg">
        UPDATE set fuid=#{fuid},msg=#{msg},ctime=#{ctime},lctime=#{lctime}
        FROM BOKER
        WHERE mid=#{mid}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM BOKER WHERE mid=#{uid}
    </delete>
    <delete id="deleteAll" >
        DELETE FROM BOKER
    </delete>
    <!--
    <delete id="deleteUser" parameterType="Java.lang.String">
        <![CDATA[ delete from user_info where id = #{id} ]]>
    </delete>
    <update id="updateUsers" parameterType="User">
        <![CDATA[update user_info set
  user_name = #{userName},
  user_password = #{userPassword},
  user_email = #{userEmail},
  user_role = #{userRole}
  where user_id = #{userId} ]]>
    </update>
    <select id="selectAllUsers" resultType="User">
        <![CDATA[select * from user_info ]]>
    </select>

    <select id="selectUserById" resultType="User" parameterType="java.lang.String">
        <![CDATA[select * from user_info where user_id = #{userId}]]>
    </select>

    <select id="selectUsers" resultType="User" parameterType="User">
        <![CDATA[select * from user_info ]]>
        <where>
            <if test="userName!=null">
                <![CDATA[And user_name like '%'||#{userName}||'%']]>
            </if>
            <if test="userRole!=null">
                <![CDATA[And user_role like '%'||#{userRole}||'%']]>
            </if>
        </where>
    </select>

    <select id="selectUsersCount" resultType="int">
        <![CDATA[select count(*) from user_info ]]>
    </select>
    <select id="selectUserByName" resultType="User" parameterType="java.lang.String">
        <![CDATA[select * from user_info where user_name = #{userName}]]>
    </select>
    -->
</mapper>